# Explore elections data to determine political leanings of county

Source: MIT Election Data and Science Lab, 2018, "County Presidential Election Returns 2000-2020", https://doi.org/10.7910/DVN/VOQCHQ, Harvard Dataverse, V13, UNF:6:GILlTHRWH0LbH2TItBsb2w== [fileUNF]

In [34]:
import pandas as pd

compiled = pd.read_parquet("/workspaces/greener/static/greener/compiled_data.parquet")
compiled.head()

,fips,StateName,RegionName,AverageHomeValue,HousingScore,Houses,WinterAvg,Winter_Low_Temp_Score,Winter_High_Temp_Score,SummerAvg,...,Summer_High_Temp_Score,Median_Household_Income_2022,Unemployment_rate_2023,IncomeScore,UnemploymentScore,Jobs,Summary,Pop_Est_July_1_2024,Low_Pop_Score,High_Pop_Score
0,06037,CA,Los Angeles County,898170.75000,0.273441,https://www.zillow.com/Los-Angeles-County-CA,59.1,0.255419,0.744581,76.7,...,0.631069,82455.0,5.0,0.595872,0.306132,https://www.indeed.com/jobs?q=&l=Los+Angeles+C...,None,9757179.0,0.000000,1.000000
1,17031,IL,Cook County,322945.46875,0.507035,https://www.zillow.com/Cook-County-IL,45.2,0.529161,0.470839,73.1,...,0.548989,76614.0,4.4,0.554014,0.337660,https://www.indeed.com/jobs?q=&l=Cook+County%2...,None,5182617.0,0.051765,0.948235
2,48201,TX,Harris County,287587.96875,0.533516,https://www.zillow.com/Harris-County-TX,68.4,0.106220,0.893780,84.6,...,0.798450,68748.0,4.3,0.492296,0.343330,https://www.indeed.com/jobs?q=&l=Harris+County...,None,5009302.0,0.054548,0.945452
3,04013,AZ,Maricopa County,470511.50000,0.421092,https://www.zillow.com/Maricopa-County-AZ,64.6,0.164574,0.835426,92.5,...,0.950876,83668.0,3.4,0.604192,0.401248,https://www.indeed.com/jobs?q=&l=Maricopa+Coun...,None,4673096.0,0.060233,0.939767
4,06073,CA,San Diego County,945139.12500,0.261801,https://www.zillow.com/San-Diego-County-CA,60.8,0.226467,0.773533,77.3,...,0.644374,98365.0,3.9,0.696388,0.367410,https://www.indeed.com/jobs?q=&l=San+Diego+Cou...,None,3298799.0,0.088727,0.911273

In [35]:
# get list of states from compiled data
states = compiled['StateName'].unique()
type(states)

numpy.ndarray

In [36]:
# convert abbreviations to full state name
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "Virgin Islands, U.S.": "VI",
}
for state in states:
    name = next(key for key, value in us_state_to_abbrev.items() if value == state)
    name = name.replace(' ', '-')
    states[states==state] = name.lower()
print(states)

['california' 'illinois' 'texas' 'arizona' 'new-york' 'florida'
 'washington' 'nevada' 'michigan' 'massachusetts' 'pennsylvania' 'ohio'
 'minnesota' 'utah' 'virginia' 'north-carolina' 'maryland' 'georgia'
 'hawaii' 'missouri' 'indiana' 'connecticut' 'new-jersey' 'wisconsin'
 'tennessee' 'oregon' 'oklahoma' 'kentucky' 'colorado'
 'district-of-columbia' 'new-mexico' 'alabama' 'rhode-island' 'kansas'
 'nebraska' 'delaware' 'south-carolina' 'iowa' 'idaho' 'louisiana'
 'new-hampshire' 'arkansas' 'maine' 'alaska' 'mississippi' 'south-dakota'
 'north-dakota' 'west-virginia' 'vermont' 'montana' 'wyoming']

In [ ]:
# remove DC from array because NYT doesnt have it.
import numpy as np
np.delete(states, np.where(states=='district-of-columbia'))

array(['california', 'illinois', 'texas', 'arizona', 'new-york',
       'florida', 'washington', 'nevada', 'michigan', 'massachusetts',
       'pennsylvania', 'ohio', 'minnesota', 'utah', 'virginia',
       'north-carolina', 'maryland', 'georgia', 'hawaii', 'missouri',
       'indiana', 'connecticut', 'new-jersey', 'wisconsin', 'tennessee',
       'oregon', 'oklahoma', 'kentucky', 'colorado', 'new-mexico',
       'alabama', 'rhode-island', 'kansas', 'nebraska', 'delaware',
       'south-carolina', 'iowa', 'idaho', 'louisiana', 'new-hampshire',
       'arkansas', 'maine', 'alaska', 'mississippi', 'south-dakota',
       'north-dakota', 'west-virginia', 'vermont', 'montana', 'wyoming'],
      dtype=object)

In [48]:
# Scrape NYT for county results for each state
import requests


def get_results(state):
    url = f"https://static01.nyt.com/elections-assets/pages/data/2024-11-05/results-{state}-president.json"
    response = requests.get(url)
    data = response.json()
    race = data.get('races')
    county_results = race.get('reporting_units')
    res = county_results
    print(res)
get_results('georgia')

AttributeError: 'list' object has no attribute 'get'

In [42]:
results = pd.DataFrame()
results['states'] = states
results['r_votes'] = None
results.head()

       states r_votes
0  california    None
1    illinois    None
2       texas    None
3     arizona    None
4    new-york    None